http_interactions:
- request:
    method: get
    uri: http://mesonet.agron.iastate.edu/geojson/networks.geojson
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-iem-serverid: iemvs100.local
      content-type: application/vnd.geo+json
    body:
      encoding: UTF-8
      file: no
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        "AE__ASOS", "properties": {"name": "United Arab Emirates ASOS"}, "geometry":
        {"type": "Polygon", "coordinates": [[[52.22, 23.4237], [52.22, 25.71348],
        [56.42396, 25.71348], [56.42396, 23.4237], [52.22, 23.4237]]]}}, {"type":
        "Feature", "id": "AF__ASOS", "properties": {"name": "Afghanistan ASOS"}, "geometry":
        {"type": "Polygon", "coordinates": [[[61.48333, 30.9], [61.48333, 38.5617],
        [71.666666667, 38.5617], [71.666666667, 30.9], [61.48333, 30.9]]]}}, {"type":
        "Feature", "id": "AG__ASOS", "properties": {"name": "Antigua and Barbuda ASOS"},
        "geometry": {"type[...]
- request:
    method: get
    uri: http://mesonet.agron.iastate.edu/json/network.php?network=IN__ASOS
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-iem-serverid: iemvs100.local
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"stations":[{"id":"VEAT","combo":"[VEAT] Agartala","name":"Agartala","lon":"91.24045","lat":"23.88698"},{"id":"VOAT","combo":"[VOAT]
        Agatti Island","name":"Agatti Island","lon":"72.176","lat":"10.8237"},{"id":"VIAG","combo":"[VIAG]
        Agra","name":"Agra","lon":"77.96089","lat":"27.15583"},{"id":"VAAH","combo":"[VAAH]
        Ahmedabad","name":"Ahmedabad","lon":"72.63465","lat":"23.07724"},{"id":"VELP","combo":"[VELP]
        Aizwal","name":"Aizwal","lon":"92.6197","lat":"23.8406"},{"id":"VIAL","combo":"[VIAL]
        Allahabad","name":"Allahabad","lon":"81.73387","lat":"25[...]
