http_interactions:
- request:
    method: get
    uri: http://mesonet.agron.iastate.edu/api/1/networks.json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-iem-serverid: iemvs100.local
    body:
      encoding: UTF-8
      file: no
      string: '{"schema":{"fields":[{"name":"id","type":"string"},{"name":"name","type":"string"},{"name":"tzname","type":"string"}],"pandas_version":"0.20.0"},"data":[{"id":"AE__ASOS","name":"United
        Arab Emirates ASOS","tzname":"Asia\/Dubai"},{"id":"AF__ASOS","name":"Afghanistan
        ASOS","tzname":"Asia\/Kabul"},{"id":"AG__ASOS","name":"Antigua and Barbuda
        ASOS","tzname":"America\/Argentina\/Cordoba"},{"id":"AG__DCP","name":"Antigua
        and Barbuda DCP","tzname":"America\/Argentina\/Cordoba"},{"id":"AI__ASOS","name":"Anguilla
        ASOS","tzname":"America\/Anguilla"},{"id":"AK_ASOS","name":"Alaska ASOS","tzname":"America\/Anchorage"},{"id":"AKCLIMATE","name":"Alaska
        Long Term Climate","tzname"[...]
- request:
    method: get
    uri: http://mesonet.agron.iastate.edu/api/1/network/IN__ASOS.json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-iem-serverid: iemvs100.local
    body:
      encoding: UTF-8
      file: no
      string: '{"schema":{"fields":[{"name":"id","type":"string"},{"name":"synop","type[...]
